*{
    box-sizing: border-box;
}

header {
    background-color: rgb(98, 98, 99);
    padding: 0px 300px 0px 200px;
    display: flex;
    justify-content: space-between;
}

.block {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
}

a {
    color: white;

    text-decoration: none;
}


.body {
    background-color: rgb(54, 57, 64);
    margin: 40px 190px 0px 190px;
    text-align: center;
    padding-top: 60px;
    height: 700px;
}
.content{
    display: flex;
}

p {
    color: rgb(255, 255, 255);
    font-size: 80px;
}

.sidebar {
    background-color: rgb(103, 106, 110);
    width: 400px;
    height: 900px;
}
.header1{
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    
}

.text{
    width: 1500px;
}
.content_right {
    margin: 20px;
    }




/* @media screen and (min-width:900px) and (max-width:1200px) {
    header{
        padding: 0px 300px 0px 200px;
    }
} */
    
    
@media screen and (max-width:600px) {
    header {
        width: auto;
        display: block;
        /* text-align: left; */
        /* text-align: center; */
    }
    .block {
        width: auto;
        height: auto;
        display: block;
        text-align: left;
        /* text-align: center; */

    }

    .body {
        width: 250px;
        margin-right: 0px;
        /* text-align: left; */
    }

    .img {
        width: 200px;
        height: 200px;
    }

    p {
        font-size: large;
    }

    .sidebar {


        width: 125%;
        height: auto;
        /* display: inline-block; */
        position: relative;
       

    }
    .sidebar a {float: left;}
    .content{
        display: block;
    }
    .image{
        margin-top: 150px;
        width: 400px;
        height: 400px;
    }
  
    .div{
        width: 100%;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .text{
        width: 125%;
        text-align: left;
    }
}

@media screen and (max-width:800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

}




.header2{
    background-color: white;
}