<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home_page</title>
</head>
<body>
    <header>
        <div>
            <img src="radixweb.png" alt="logo" width="90px" height="80px" >
        </div>
        <div>
            <ul>
                <li class="block"><a href="Home.html">Home</a></li>
                <li class="block"><a href="Html\Day 1\Home.html">Html</a></li>
                <li class="block"><a href="css\CSS_Home.html">CSS</a></li>
                <li class="block"><a href="#">Bootstrap</a></li>
                <li class="block"><a href="#">Javascript</a></li>
                <li class="block"><a href="#">JQuery</a></li>
                <li class="block"><a href="#">Mini Project</a></li>
                <li class="block"><a href="#">SQL</a></li>
            </ul>
        </div>
    </header>
    <div class="content">
        
         <div class="content_right" style="margin: 100px auto;" >
            <img src="radixweb.png" alt="body" width="200px" class="image" >
         </div>
    </div>
</body>
</html>