<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assignment_6/css_styles/style.css">
    <title>HTML_home_page</title>
</head>
<body>
    <header>
        <div>
            <img src="/Assignment_6/images/radixweb.png" alt="logo" width="90px" height="80px" >
        </div>
        <div>
            <ul>
                <li class="block"><a href="/Assignment_6/Index.html">Home</a></li>
                <li class="block"><a href="/Assignment_6/components/HTML_Home.html">Html</a></li>
                <li class="block"><a href="/Assignment_6/components/CSS_Home.html">CSS</a></li>
                <li class="block"><a href="#">Bootstrap</a></li>
                <li class="block"><a href="#">Javascript</a></li>
                <li class="block"><a href="#">JQuery</a></li>
                <li class="block"><a href="#">Mini Project</a></li>
                <li class="block"><a href="#">SQL</a></li>
            </ul>
        </div>
    </header>
    <div class="content">
         <div class="sidebar">
            <ul>
                <li>Day 3

                    <ul>
                        <ul>
                            <li>Assignment
                                <ul>
                                    <li><a href="/Assignment_6/components/HTML Day 1/HTML_A1.html">Assignment 1</a></li>
                                    <li><a href="/Assignment_6/components/HTML Day 1/HTML_A2.html">Assignment 2</a></li>
    
                                </ul>
                            </li>
                            <li>Practice
    
                                <ul>
                                    <li><a href="/Assignment_6/components/HTML Day 1/HTML_P1.html">Practice 1</a></li>
                                    <li><a href="/Assignment_6/components/HTML Day 1/HTML_P2.html">Practice 2</a></li>
    
                                </ul>
    
                            </li>
                        </ul>
    


                </li>




            </ul>
         </div>
         <div class="content_right">
            <img src="/Assignment_6/images/radixweb.png"" alt="body" width="200px" class="image">
         </div>
    </div>
</body>
</html>